.box {
    width: 80%;
    height: fit-content;
    /* border: 1px solid black; */
    padding: 3%;
    margin: 2%;
    background-color: white;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}
