.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18vh 0;
}
.user, .branch{
    padding: 5%;
    margin: 2%;
    border-radius: 10%;
    cursor: pointer;
    text-align: center;
    color: white;
}
.user{
    background-color: brown;
}
.branch{
    background-color: tomato;
}
.branch:hover, .user:hover{
    transform: scale(1.1);
    transition: .5s;
}

@media only screen and (max-width: 720px){
    .container{
        flex-direction: column;
    }
}